* {
}

html, body, .ui-widget {
	font-family: 'EB Garamond', serif !important;
}

h1 {
    margin-block-start: 0.34em;
}

html {
	background: url(../images/bg-small.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.html-background-progressive {
	background: url(../images/bg-medium.jpg) no-repeat center center fixed, url(../images/bg-small.jpg) no-repeat center center fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.html-background-progressivest {
	background: url(../images/bg.jpg) no-repeat center center fixed, url(../images/bg-small.jpg) no-repeat center center fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.linkPointer {
	cursor: pointer;
}

.defaultPointer {
	cursor: default !important;
}

.noTitle .ui-dialog-titlebar, .hidden {
	display:none
}

.topSpace {
   margin-top: 2em;
}

#popup li{
    margin-top: 0.3em;
}
#popup li:first-child {
    margin-top: 0;
}